# Solana RPC
SOLANA_RPC_WS_URL=wss://api.mainnet-beta.solana.com
SOLANA_RPC_HTTP_URL=https://api.mainnet-beta.solana.com

# Default token to index, can override
TOKEN_MINT=DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263

# Kafka
# Use localhost:9092 when running producers on your host machine
# Use kafka:29092 when running producers inside Docker network
# Create KAFKA_CLUSTER_ID using `kafka-storage random-uuid`
KAFKA_CLUSTER_ID=
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_BUYS=sol.buys
KAFKA_TOPIC_SELLS=sol.sells
KAFKA_TOPIC_FAILED=sol.failed

# Snowflake
SNOWFLAKE_ACCOUNT_URL=
SNOWFLAKE_LOGIN_NAME=KAFKA_USER
# Private key for key-pair auth (no PEM headers, single line, no spaces)
SNOWFLAKE_PRIVATE_KEY=
SNOWFLAKE_DATABASE=SOLANA_DEX
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
